<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Inn Network</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Link Inn Network</h1>
        <p>Connecting Homes, Enriching Lives</p>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Buy Internet</a>
                    <ul>
                        <li><a href="#">Ksh.20 for 2 Hours</a></li>
			<li><a href="#">Ksh.70 for 24 Hours</a></li>
                        <li><a href="#">Ksh.1000 for 1 month</a></li>
                    </ul>
                </li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a>
                    <p>Have No account? Sign up for a FREE package!</p>
                </li>
            </ul>
        </nav>
    </header>
    <section id="community-sneak-peek">
        <h2>Community Forum Sneak Peek</h2>
        <div class="slider">
            <div class="slide">
                <h3>Latest Discussion: Best Internet Speed for Online Gaming</h3>
                <p>Join the conversation and share your thoughts!</p>
            </div>
            <div class="slide">
                <h3>The boy Who cracked the code</h3>
                <p>The student trader</p>
            </div>
            <div class="slide">
                <h3>Upcoming Event: The power of GRIT</h3>
                <p>Join us on [Date] to learn more about keeping ...</p>
            </div>
        </div>
    </section>
    <section id="contact-us">
        <h2>Contact Us</h2>
        <p>Get in touch with us for any questions or concerns:</p>
        <ul>
            <li>Email: <a href="">support@linkinninternets.com</a></li>
            <li>Phone: 0798 534 855</li>
            <li>Address: 123 , Homabay, Kenya</li>
        </ul>
    </section>
    <footer>
        <p>&copy; 2024 Link Inn Internets</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
